* {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

button {
  padding: .6rem 1.2rem;
  background-color: #888;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1rem;
  transition: .4s;
}

#open-modal {
  background-color: #007bff;
}

button:hover {
  opacity: 1;
}

#fade, #modal {
  transition: .5s;
  opacity: 1; 
  pointer-events: all; /*Here, events will work when opacity = 1 */
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0, 0, 0.6);
  z-index:5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /*Modal centralized*/
  z-index: 10;
  background-color: #fff;
  width: 500px;
  max-width: 90%; /*For smaller screens*/
  padding: 1.2rem;
  border-radius: .5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.modal-body p{
  margin-bottom: 1rem;
}

/* Why opacty and not display: none? Because opacity i can control the transition of the element with display now */

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none; /*Here, events will not work when opacity = 0 */
}

#modal.hide {
  top: 0;
}